---
import { getCollection, getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const blogs = await getCollection("blog");

const tagsSet = new Set(blogs.flatMap((blog) => blog.data.tags));
const tags = Array.from(tagsSet);

const tagsCountMapping = tags.map((tag) => ({
  tag,
  count: blogs.filter((blog) => blog.data.tags.includes(tag)).length,
}));

const sortedTagsCountMapping = tagsCountMapping.sort(
  (a, b) => b.count - a.count
);
---

<Layout title="Tags">
  <ul>
    {
      sortedTagsCountMapping.map((tag) => (
        <li>
          <a href={`/tags/${tag.tag}`}>
            {tag.tag} ({tag.count})
          </a>
        </li>
      ))
    }
  </ul>
</Layout>

<style lang="scss">
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    a {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: black;
      text-decoration: none;
      font-size: 1.2rem;
    }

    a:hover {
      text-decoration: underline;
      text-decoration-style: wavy;
    }
  }

  li {
    margin-bottom: 0.5rem;
  }
</style>
