---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
  <div class="container">NOT FOUND</div>
</Layout>

<style>
  .container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
</style>
