---
import type { DataEntryMap } from "astro:content";
import { render } from "astro:content";
import "../styles/markdown.scss";

type Props = DataEntryMap["blog"];
const { blog } = Astro.props;

const { Content } = await render(blog);
---

<article class="markdown-body">
  <div class="blog-detail-header">
    <h1 class="title">
      {blog.data.title}
    </h1>
    <p>{blog.data.description}</p>
    {
      blog.data.isAI && (
        <p class="ai-mark-container">
          <span class="ai-mark">本文由 AI 自动生成，内容仅供参考。</span>
        </p>
      )
    }
  </div>
  <Content />
</article>

<style>
  .title {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .ai-mark-container {
    text-align: right;
    .ai-mark {
      font-style: italic;
      padding: 0.25rem 0.5rem;
      background-color: rgb(227, 190, 151);
    }
  }
</style>
