---
import type { DataEntryMap } from "astro:content";
import { render } from "astro:content";
import "../styles/markdown.scss";

type Props = DataEntryMap["blog"];
const { blog } = Astro.props;

const { Content } = await render(blog);
---

<article class="markdown-body">
  <div class="blog-detail-header">
    <h1>{blog.data.title}</h1>
    <p>{blog.data.description}</p>
  </div>
  <Content />
</article>
