---

---

<footer>
  <div class="socials">
    <ul>
      <li><a href="https://github.com/logeable" target="_blank">GitHub</a></li>
      <li><a href="https://x.com/logeable" target="_blank">X</a></li>
    </ul>
  </div>
</footer>

<style lang="scss">
  footer {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid var(--border-color);
    font-size: 1rem;
    font-weight: bold;
    background: var(--bg-color);
    color: var(--text-color);

    .socials ul {
      display: flex;
      gap: 1rem;

      list-style: none;
      a {
        text-decoration: none;
        color: var(--text-color);

        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }
</style>
