---

---

<footer>
  <div class="socials">
    <ul>
      <li><a href="https://github.com/logeable" target="_blank">GitHub</a></li>
      <li><a href="https://x.com/logeable" target="_blank">X</a></li>
    </ul>
  </div>
</footer>

<style lang="scss">
  footer {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid color-mix(in srgb, var(--text-color) 10%, var(--border-color) 90%);
    font-size: 0.95rem;
    font-weight: 600;
    background: var(--bg-color);
    color: var(--text-color);
    margin: 0 0.2rem;

    .socials ul {
      display: flex;
      gap: 1.2rem;

      list-style: none;
      a {
        text-decoration: none;
        color: var(--text-color-secondary);

        &:hover {
          color: var(--text-color);
        }
      }
    }
  }
</style>
