---

---

<footer>
  <div class="socials">
    <ul>
      <li><a>GitHub</a></li>
      <li><a>X</a></li>
    </ul>
  </div>
</footer>

<style>
  footer {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .socials ul {
    display: flex;
    gap: 1rem;
  }
  ul {
    list-style: none;
  }
</style>
